# Inverse mapping

In [192]:
import pandas as pd
import numpy as np

In [213]:
row = 1200
col = 1200
lat = np.zeros([row,col*2])
long = np.zeros([row,col*2])
R = 6371007.181
T = 1111950
xmin = -20015109
ymax = 10007555 
w = T/1200
H = [9, 10]
V = 4

# for h in (H):
for i in range(row):
    y = ymax - V*T - (i+0.5)*w
    for j in range(col*2):
        if j < col:
            h = 9
            jj = j
        else:
            h = 10
            jj = j - col
            
        x = (jj + 0.5)* w + h*T + xmin
        
        lat[i][j] = y/R
        long[i][j] = x/R/np.cos(lat[i][j])        
lat *= (180/np.pi) 
long *= (180/np.pi) 
lat_df = pd.DataFrame(lat)
long_df = pd.DataFrame(long)
long_df.to_csv(r'longitude.csv', index = False)
lat_df.to_csv(r'latitude.csv', index = False)

In [324]:
lat_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2390,2391,2392,2393,2394,2395,2396,2397,2398,2399
0,49.995855,49.995855,49.995855,49.995855,49.995855,49.995855,49.995855,49.995855,49.995855,49.995855,...,49.995855,49.995855,49.995855,49.995855,49.995855,49.995855,49.995855,49.995855,49.995855,49.995855
1,49.987522,49.987522,49.987522,49.987522,49.987522,49.987522,49.987522,49.987522,49.987522,49.987522,...,49.987522,49.987522,49.987522,49.987522,49.987522,49.987522,49.987522,49.987522,49.987522,49.987522
2,49.979188,49.979188,49.979188,49.979188,49.979188,49.979188,49.979188,49.979188,49.979188,49.979188,...,49.979188,49.979188,49.979188,49.979188,49.979188,49.979188,49.979188,49.979188,49.979188,49.979188
3,49.970855,49.970855,49.970855,49.970855,49.970855,49.970855,49.970855,49.970855,49.970855,49.970855,...,49.970855,49.970855,49.970855,49.970855,49.970855,49.970855,49.970855,49.970855,49.970855,49.970855
4,49.962522,49.962522,49.962522,49.962522,49.962522,49.962522,49.962522,49.962522,49.962522,49.962522,...,49.962522,49.962522,49.962522,49.962522,49.962522,49.962522,49.962522,49.962522,49.962522,49.962522